USE [master]
GO
/****** Object:  Database [BookStoreDB]    Script Date: 01/10/2026 9:56:05 SA ******/
CREATE DATABASE [BookStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\BookStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\BookStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStoreDB]
GO
/****** Object:  Table [dbo].[author]    Script Date: 01/10/2026 9:56:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[author](
	[author_id] [int] IDENTITY(1,1) NOT NULL,
	[author_name] [varchar](100) NULL,
	[date_of_birth] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_author]    Script Date: 01/10/2026 9:56:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_author](
	[bookid] [int] NOT NULL,
	[author_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookid] ASC,
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 01/10/2026 9:56:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[bookid] [int] IDENTITY(1,1) NOT NULL,
	[isbn] [int] NULL,
	[title] [varchar](200) NULL,
	[publisher] [varchar](100) NULL,
	[price] [decimal](6, 2) NULL,
	[description] [text] NULL,
	[publish_date] [date] NULL,
	[cover_image] [varchar](100) NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bookid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 01/10/2026 9:56:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[detailId] [int] IDENTITY(1,1) NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[bookId] [int] NULL,
	[orderId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[detailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 01/10/2026 9:56:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [datetime2](7) NULL,
	[status] [nvarchar](50) NULL,
	[totalAmount] [float] NOT NULL,
	[userId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rating]    Script Date: 01/10/2026 9:56:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rating](
	[userid] [int] NOT NULL,
	[bookid] [int] NOT NULL,
	[rating] [tinyint] NULL,
	[review_text] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC,
	[bookid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 01/10/2026 9:56:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[phone] [int] NULL,
	[passwd] [varchar](32) NOT NULL,
	[signup_date] [datetime] NULL,
	[last_login] [datetime] NULL,
	[is_admin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[author] ON 

INSERT [dbo].[author] ([author_id], [author_name], [date_of_birth]) VALUES (1, N'Nguyen Van A', CAST(N'1980-01-01' AS Date))
INSERT [dbo].[author] ([author_id], [author_name], [date_of_birth]) VALUES (2, N'Tran Thi B', CAST(N'1985-05-05' AS Date))
INSERT [dbo].[author] ([author_id], [author_name], [date_of_birth]) VALUES (3, N'Le Van C', CAST(N'1990-10-10' AS Date))
SET IDENTITY_INSERT [dbo].[author] OFF
GO
INSERT [dbo].[book_author] ([bookid], [author_id]) VALUES (1, 1)
INSERT [dbo].[book_author] ([bookid], [author_id]) VALUES (2, 2)
INSERT [dbo].[book_author] ([bookid], [author_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([bookid], [isbn], [title], [publisher], [price], [description], [publish_date], [cover_image], [quantity]) VALUES (1, 1111, N'Lap trinh C++', N'NXB Giao Duc', CAST(50.00 AS Decimal(6, 2)), N'Sach hoc C++', CAST(N'2023-01-01' AS Date), N'https://dummyimage.com/200x250/2c3e50/fff&text=C++', 10)
INSERT [dbo].[books] ([bookid], [isbn], [title], [publisher], [price], [description], [publish_date], [cover_image], [quantity]) VALUES (2, 2222, N'Lap trinh Java', N'NXB Tre', CAST(60.00 AS Decimal(6, 2)), N'Sach hoc Java', CAST(N'2023-02-01' AS Date), N'https://dummyimage.com/200x250/2c3e50/fff&text=Java', 15)
INSERT [dbo].[books] ([bookid], [isbn], [title], [publisher], [price], [description], [publish_date], [cover_image], [quantity]) VALUES (3, 3333, N'Lap trinh Python', N'NXB DHQG', CAST(55.00 AS Decimal(6, 2)), N'Sach hoc Python', CAST(N'2023-03-01' AS Date), N'https://dummyimage.com/200x250/2c3e50/fff&text=Python', 20)
SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([detailId], [price], [quantity], [bookId], [orderId]) VALUES (1, 65, 1, 6, 1)
INSERT [dbo].[order_details] ([detailId], [price], [quantity], [bookId], [orderId]) VALUES (2, 65, 1, 6, 2)
INSERT [dbo].[order_details] ([detailId], [price], [quantity], [bookId], [orderId]) VALUES (3, 65, 1, 6, 3)
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([orderId], [orderDate], [status], [totalAmount], [userId]) VALUES (1, CAST(N'2026-10-01T09:24:09.1060000' AS DateTime2), N'đơn hàng mới', 65, 1)
INSERT [dbo].[orders] ([orderId], [orderDate], [status], [totalAmount], [userId]) VALUES (2, CAST(N'2026-10-01T09:31:37.3990000' AS DateTime2), N'đã giao', 65, 1)
INSERT [dbo].[orders] ([orderId], [orderDate], [status], [totalAmount], [userId]) VALUES (3, CAST(N'2026-10-01T09:32:25.5960000' AS DateTime2), N'đơn hàng hủy', 65, 1)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
INSERT [dbo].[rating] ([userid], [bookid], [rating], [review_text]) VALUES (1, 6, 4, N'R?t hay yeahhhh')
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [fullname], [phone], [passwd], [signup_date], [last_login], [is_admin]) VALUES (1, N'24110367@student.hcmute.edu.vn', N'Nguyễn Quang Trường', NULL, N'123456', CAST(N'2026-09-24T08:44:18.817' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[book_author]  WITH CHECK ADD FOREIGN KEY([author_id])
REFERENCES [dbo].[author] ([author_id])
GO
ALTER TABLE [dbo].[book_author]  WITH CHECK ADD FOREIGN KEY([bookid])
REFERENCES [dbo].[books] ([bookid])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FKdtiviqtl269gtu1t3sc85gku3] FOREIGN KEY([orderId])
REFERENCES [dbo].[orders] ([orderId])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FKdtiviqtl269gtu1t3sc85gku3]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FKpvefwun0l12cp1sv8b5f9ymsm] FOREIGN KEY([bookId])
REFERENCES [dbo].[books] ([bookid])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FKpvefwun0l12cp1sv8b5f9ymsm]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK6co8q7ko456baksb6tdjq2dfv] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK6co8q7ko456baksb6tdjq2dfv]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD FOREIGN KEY([bookid])
REFERENCES [dbo].[books] ([bookid])
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[users] ([id])
GO
USE [master]
GO
